<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <link href="//fonts.googleapis.com/css?family=Old+Standard+TT"
          type="text/css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/herder.css" type="text/css" rel="stylesheet" />

  </head>
  <body>

    <div class="container-fluid">

      <header>
        <h1>thought<span class="space"> </span>herder</h1>
      </header>

      <section>
        <div class="row-fluid">
          <div class="span1"></div>
          <div class="span10">
            <p>Understanding. I strive for it each day. And, always
              I'm reminded of two things:</p>

            <p>First, "you haven't really understood something
              until you can explain it to someone else." There are some
              obvious holes here, such as my ability to convince you,
              doesn't make us both right. Still, I like the spirit of the
              saying. It encourages me to verify and share my findings. It
              forces me to synthesize my thoughts in a clear and concise
              manner, such that you will have a simpler time coming to the
              same conclusions I've reached.</p>

            <p>Second, and perhaps the harder one for me over the years,
              is that "to understand, it's not enough to stop at theory.
              One must put to practice in order to fully appreciate
              what one has learnt."</p>

            <p>With these in mind, the aim here is to learn. To draw on a
              myriad of sources and herd the thoughts. To put things together
              so that you, I or anyone else can come to them and put the ideas
              in practice so that they are verifiably concrete and eternal.
              And then, finally, to understand.</p>
            
            <hr />
            
            <p>Licensed under a
              <a rel="license" 
                   href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                Creative Commons Attribution-NonCommercial-ShareAlike 3.0
                Unported License</a>.</p>
              
          </div>
          <div class="span1"></div>
        </div>
      </section>
      
    </div>

    <script src="/js/ender.min.js"></script>
    <script src="/js/herder.js"></script>

  </body>
</html>